.blog-des {
    position: fixed;
    left: 0;
    top: 0;
    right: auto;
    bottom: 0;
    z-index: 1;
    // overflow: hidden;
    width: 30%;
    padding: 0 5rem;
    clear: none;
    margin-top: $header-height;

    @include flex(flex-start, flex-start);
    flex-direction: column;
    font-size: 1.5rem;

    @include mobile {
        display: none;
    }

    @include tablet {
        padding: 0 2rem;
    }

    &__title {
        margin-bottom: 2rem;
        h2 {
            padding-top: 1vw;
            padding-bottom: 1vw;
            color: #393939;
            font-size: 1.5rem;
            line-height: 150%;
            letter-spacing: 0.3px;
            padding: 1rem 0;
        }

        h3 {
            color: #393939;
            font-size: 1.25rem;
            line-height: 100%;
            font-weight: 300;
            letter-spacing: 0.5px;
        }
    }
}

.blog-content {
    width: 100%;
    @include flex(flex-start, center);
    flex-direction: column;
    margin-top: 6rem;

    @include tablet {
        margin-top: 4rem;
    }

    &__close {
        position: fixed;
        left: auto;
        top: 1rem;
        right: 5rem;
        bottom: auto;
        z-index: 2;
        @include flex(center, center);
        cursor: pointer;

        @include mobile {
            top: 3rem;
            right: 5rem;
        }

        span {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 1.5rem;
            line-height: 140%;
            font-weight: 500;
            letter-spacing: 0.5px;
            text-indent: 0;
        }

        i {
            font-size: 3rem;
        }

        @include mobile {
            right: 2rem;
            top: 4rem;
        }
    }

    &__title {
        display: none;

        @include mobile {
            display: block;
        }

        margin-bottom: 2rem;

        h2 {
            padding-top: 1vw;
            padding-bottom: 1vw;
            color: #393939;
            font-size: 1.5rem;
            line-height: 150%;
            letter-spacing: 0.3px;
            padding: 1rem 0;
        }

        h3 {
            color: #393939;
            font-size: 1.25rem;
            line-height: 100%;
            font-weight: 300;
            letter-spacing: 0.5px;
            padding-bottom: 1rem;
        }
    }

    &__info {
        width: 100%;

        color: #393939;
        font-size: 1.25rem;
        line-height: 2rem;
        letter-spacing: 0.3px;
        word-spacing: 3px;
    }

    &__social {
        @include flex(center, flex-end);
        width: 100%;
        span {
            color: #393939;
            font-size: 1.25rem;
            line-height: 2rem;
            letter-spacing: 0.3px;
            word-spacing: 3px;
        }

        i {
            font-size: 3rem;
        }
    }
}

.blog-recent {
    width: 60%;
    margin-top: 5rem;
    margin-left: 40%;
    @include flex(center, flex-end);

    @include mobile {
        width: 100%;
        margin-left: 0;
    }
}
